@font-face {
  font-family: 'LXGW WenKai Mono Lite';
  font-style: normal;
  font-display: swap;
  src: url('https://dl.helloworld.me/webfont/LXGWWenKaiMonoLite-Regular.woff2') format('woff2');
  /* src: url('../fonts/LXGWWenKaiMonoLite-Regular.woff2') format('woff2'); */
}
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: swap;
  src: url('https://dl.helloworld.me/webfont/Ysabeau-Regular.woff2') format('woff2');
  /* src: url('../fonts/Ysabeau-Regular.woff2') format('woff2'); */
}
@font-face {
  font-family: 'Ysabeau';
  font-weight: bold;
  font-display: swap;
  src: url(' https://dl.helloworld.me/webfont/Ysabeau-Bold.woff2') format('woff2');  
  /* src: url('../fonts/Ysabeau-Bold.woff2') format('woff2'); */
}
@font-face {
  font-family: 'Ysabeau';
  font-style: italic;
  font-display: swap;
  src: url('https://dl.helloworld.me/webfont/Ysabeau-Italic.woff2') format('woff2');
  /* src: url('../fonts/Ysabeau-Italic.woff2') format('woff2'); */
}